<% include ../partials/header %>
<div class="w-50 m-auto border border-primary border-2 rounded pt-2 mt-2 mb-2 bg-light">
    <div class="row">
        <h1 style="text-align: center">Edit <%= user.name %></h1>
        <div class = "w-75" style="margin: 25px auto;">
            <form action="/users/<%= user._id %>?_method=PUT" method="POST">
                <input class="form-control mb-3" type="text" name="user[username] " value="<%= user.username %>">
                                
                <input class="form-control mb-3" type="text" name="user[Name] " placeholder="name" value="<%= user.Name %>">   
                
                <input class="form-control mb-3" type="email" name="user[email]" placeholder="email" value="<%= user.email %>">
                
                <input class="form-control mb-3" type="text" name="user[avatar]" placeholder="avatar url" value="<%= user.avatar %>">
                                               
                <button class="btn btn-primary mb-2">Submit!</button>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>